name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.19

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: |
        set -e
        exit_status=
        for f in $(find . -name go.mod)
        do
          pushd $(dirname $f) > /dev/null
          go build ./... || exit_status=$?
          popd > /dev/null
        done
        exit $status

    - name: Test
      run: |
        set -e
        exit_status=
        for f in $(find . -name go.mod)
        do
          pushd $(dirname $f) > /dev/null
          go test -test.v ./... || exit_status=$?
          popd > /dev/null
        done
        exit $exit_status
