name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        go: ["1.21"]
        platform: [ubuntu-latest] # can not run in windows OS
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: go mod package cache
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('tests/go.mod') }}

      - name: Build
        run: |
          set -e
          exit_status=
          for f in $(find . -name go.mod)
          do
            pushd $(dirname $f) > /dev/null
            go build ./... || exit_status=$?
            popd > /dev/null
          done
          exit $status

      - name: Test
        run: |
          set -e
          exit_status=
          for f in $(find . -name go.mod)
          do
            pushd $(dirname $f) > /dev/null
            go test -test.v ./... || exit_status=$?
            popd > /dev/null
          done
          exit $exit_status
